* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
    /* overflow: hidden; */
    color: #fff;
}

.container {
    max-width: 830px;
    margin: 0 auto;
    padding: 0 10px;
}


.header {
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.menu {}

.menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__item {
    list-style: none;
}

.menu__item-link {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.menu__item-link:hover{
    color: rgba(255,255,255, 0.5)
}

.iam {
    padding: 120px 0 60px 0;
    background-color: #000;
    opacity: 0.9;
}

.iam__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}

.iam__img {
    max-width: 213px;
    width: 100%;
    height: auto;
}

.iam__title {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.1;
}

.iam__title span {
    background: #3f52fb;
    background: radial-gradient(circle, rgba(63, 82, 251, 0.98) 0%, rgba(252, 70, 107, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.iam__text {
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
}

.iam__btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.iam__btn {
    white-space: nowrap;
    max-width: 250px;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

.light {
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.light:hover {
    background-color: #000;
    color: #fff;
}

.dark {
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

.dark:hover {
    background-color: #fff;
    color: #000;
}

.stack {
    background-color: #000;
    opacity: 0.9;
    padding: 25px 0 50px 0;
}

.stack__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.stack__title {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.stack__items {
    margin: 0 auto;
    max-width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.stack__text {
    text-align: center;
}

.projects {
    background-color: #000;
    opacity: 0.9;
    padding: 50px 0;
}

.projects__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.projects__title {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    background: radial-gradient(circle, rgba(245, 251, 63, 0.98) 20%, rgba(252, 70, 107, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.projects__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    border-radius: 18px;
    transition: all 0.3s ease;
}

.projects__item:hover {
    transform: translateY(-2px);
}

.projects__img {
    max-width: 390px;
    width: 100%;
    max-height: 235px;
    height: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.projects-desc {
    padding: 12px 24px 14px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #222222;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}


.projects-desc__title {
    font-weight: 600;
    font-size: 19px;
    line-height: 1.5;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.projects-desc__title:hover {
    background: radial-gradient(circle, rgba(245, 251, 63, 0.98) 20%, rgba(252, 70, 107, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-desc svg{
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.projects-desc svg:hover{
    transform: rotate(45deg);
}

.experience{
    background-color: #000;
    opacity: 0.9;
    padding: 50px 0 100px 0;
}

.experience__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.experience__title{
    font-size: 35px;
    font-weight: 800;
    background: radial-gradient(circle,rgba(116, 63, 251, 0.98) 20%, rgba(252, 70, 107, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}

.experience__items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.experience-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.experience-item__desc{
    display: flex;
    align-items: center;
    gap: 20px;
}

.experience-item__img{}

.experience-item__title{
    font-size: 22px;
    font-weight: 700;
}

.experience-item__text{
    font-size: 15px;
}

.contact{
    background-color: #222;
    padding: 60px 0 50px 0;
}

.contact__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.contact__title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

.contact__text{
    max-width: 676px;
    font-size: 14px;
    font-weight: 300;
}

.contact__networks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact__mail, .contact__tg, .contact__git, .contact__phone{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.contact__git svg{
    width: 24px;
    height: 24px;
}

.contact__mail svg{
    width: 24px;
    height: 24px;
    
}

.contact__tg svg{
    width: 24px;
    height: 24px;
}
.contact__phone svg{
    width: 24px;
    height: 24px;
} 

.contact__link{
    color: #fff;
    text-decoration: none;
}